@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Karla:wght@400;500;700&family=Raleway:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Inter", sans-serif;
  background-color: var(--color-grey-200);
}

/* Color Variables */
:root {
  /* Primary Colors */
  --color-primary-100: #dcdaf2;
  --color-primary-200: #a49df2;
  --color-primary-300: #7065e3;
  --color-primary-400: #4739dc;
  --color-primary-500: #3628d2;
  --color-primary-600: #21169c;
  --color-primary-700: #0f0764;
  --color-primary-800: #0d0751;
  --color-primary-900: #08033d;

  /* Secondary Colors */
  --color-secondary-100: #f2dfc2;
  --color-secondary-200: #f0d1a3;
  --color-secondary-300: #f6c274;
  --color-secondary-400: #e8a545;
  --color-secondary-500: #dd9224;
  --color-secondary-600: #b47009;
  --color-secondary-700: #835207;
  --color-secondary-800: #613c04;
  --color-secondary-900: #1a1001;

  /* Tertiary Colors */
  --color-tertiary-100: #d5e0df;
  --color-tertiary-300: #81dbd2;
  --color-tertiary-500: #34c8ba;
  --color-tertiary-900: #031a17;

  /* Neutral Variant Colors */
  --color-neutral-variant-100: #e1e1e5;
  --color-neutral-variant-200: #a9a7ba;
  --color-neutral-variant-300: #7a788f;
  --color-neutral-variant-400: #5b5975;
  --color-neutral-variant-500: #474466;
  --color-neutral-variant-600: #252246;
  --color-neutral-variant-700: #100e29;
  --color-neutral-variant-800: #070618;
  --color-neutral-variant-900: #030212;

  /* Grey Colors */
  --color-grey-50: #fafafa;
  --color-grey-100: #f5f5f5;
  --color-grey-200: #eeeeee;
  --color-grey-300: #e0e0e0;
  --color-grey-400: #bdbdbd;
  --color-grey-500: #9e9e9e;
  --color-grey-600: #757575;
  --color-grey-700: #616161;
  --color-grey-800: #424242;
  --color-grey-900: #212121;

  /* Box Shadow Styles */
  --x16dp-umbra: 0px 16px 24px 2px rgba(0, 0, 0, 0.14);
  --x16dp-penumbra: 0px 6px 30px 5px rgba(0, 0, 0, 0.12);
  --x16dp-ambient: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
}

/* Typography Classes*/
/* Body Text */
.body-small {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4%;
}

.body-medium {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25%;
}

.body-large {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.15%;
}

/* Desktop Headline */
.desktop-headline-small {
  font-family: "Inter", sans-serif;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0%;
}

.desktop-headline-medium {
  font-family: "Inter", sans-serif;
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0%;
}

.desktop-headline-large {
  font-family: "Inter", sans-serif;
  font-size: 48px;
  line-height: 56px;
  letter-spacing: 0%;
}

/* Additional Utility Classes */
.no-letter-spacing {
  letter-spacing: 0;
}

.homepage-feed {
  display: flex;
  flex-direction: column;
  gap: 46px;
  padding-left: 498px;
  margin-block: 46px;
}

/* Navbar Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 24px;
  background-color: var(--color-grey-50);
  box-shadow: var(--x16dp-penumbra);
  width: 100%;
  position: sticky;
  top: 0px;
  z-index: 2;
}

/* Search Bar Container */
.search-bar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* App Name */
.app-name {
  font-weight: 500;
  color: var(--color-primary-700);
}

.app-name:hover {
  cursor: pointer;
  color: var(--color-primary-200);
}

/* Search Bar */
.search-bar {
  display: flex;
  min-width: 573px;
  padding: 10px 10px 10px 16px;
  align-items: center;
  gap: 16px;
  border-radius: 24px;
  background-color: var(--color-grey-200);
}

/* Search Icon */
.search-icon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}

/* Search Input */
.search-input {
  border: none;
  outline: none;
  color: var(--color-grey-900);
  width: 100%;
  background-color: var(--color-grey-200);
  font-weight: 400;
}

.interactions-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 24px;
}

.profile-container {
  display: flex;
  position: relative;
  align-items: center;
  gap: 8px;
}

.profile-dropdown {
  display: none;
  pointer-events: none;
  transform: translateY(-10px);
}

.profile-container:hover .profile-dropdown {
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--color-grey-50);
  box-shadow: var(--x16dp-ambient);
  border-radius: 4px;
  pointer-events: auto;
  transform: translateY(0);
  transition: transform 150ms ease-in-out;
  padding: 10px 10px 0 0;
}

.profile-dropdown ul {
  display: block;
  margin: 0;
  padding: 0;
}

.profile-dropdown ul li {
  width: 150px;
  cursor: pointer;
  list-style-type: none;
  position: relative;
}

.profile-dropdown ul div {
  padding: 10px;
}

.profile-dropdown ul div:hover {
  background-color: var(--color-grey-100);
}

.profile-dropdown ul div:last-child:hover {
  background-color: var(--color-grey-100);
  border-radius: 0 0 4px 4px;
}

.navbar-picture {
  width: 36px;
  height: 36px;
  border-radius: 100%;
  background-color: var(--color-grey-300);
}

.navbar-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.navbar-username {
  color: var(--grey-900, #212121);
  text-align: center;
  font-weight: 400;
}

/* Post Styles */

.posts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  margin-block: 12px;
}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 14px;
  flex-shrink: 0;
  padding: 10px 10px 14px 10px;
  width: 732px;
  height: auto;
  background-color: var(--color-grey-100);
  box-shadow: var(--x16dp-penumbra);
  border-radius: 20px;
}

.post-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.post-user-picture {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  flex-shrink: 0;
  background-color: var(--color-grey-300);
}

.post-user-picture img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.post-user-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: -2px;
}

.post-username {
  color: var(--color-grey-900);
  font-weight: 400;
  cursor: pointer;
}

.post-username:hover {
  text-decoration: underline;
}

.subtitles {
  font-weight: 400;
  color: var(--color-grey-500);
}

.post-description {
  color: var(--color-grey-900);
  font-weight: 400;
}

.post-image-container {
  width: 100%;
}

.post-image {
  width: 100%;
  object-fit: cover;
}

.post-interactions {
  display: flex;
  align-items: center;
  gap: 24px;
}

.post-likes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.post-likes img {
  cursor: pointer;
}

.likes-text {
  color: var(--color-grey-600);
  font-weight: 400;
}

.post-comments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.comments-text {
  color: var(--color-grey-600);
  font-weight: 400;
}

.post-container section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 16px;
}

.post-comment-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.post-comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 8px 12px;
  background-color: var(--color-grey-300);
  border-radius: 10%;
}

.post-comment span {
  font-weight: 500;
  cursor: pointer;
}

.post-comment span:hover {
  text-decoration: underline;
}

/* Form Styles */

.form-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  background-color: var(--color-grey-50);
  box-shadow: var(--x16dp-penumbra);
  margin-bottom: 126px;
  width: 100%;
  position: ab;
  top: 0px;
  font-weight: 900;
  color: var(--color-primary-700);
}
.form-layout {
  height: 100%;
}

.form-page {
  display: flex;
  justify-content: center;
}

.form-wrapper {
  padding: 10px 24px;
  width: 478px;
  background-color: var(--color-grey-50);
  border-radius: 10px;
  box-shadow: var(--x16dp-umbra);
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.form-header {
  align-self: stretch;
  font-weight: 600;
}

.form-textfield {
  position: relative;
  width: 100%;
  height: 56px;
}

/* .form-textfield span {
  position: absolute;
  bottom: -16px;
  font-size: 14px;
  left: 12px;
} */

.form-label {
  position: absolute;
  top: 0;
  left: 5px;
  transform: translateY(-50%);
  padding: 0 5px;
  pointer-events: none;
  font-size: 12px;
  background-color: var(--color-grey-50);
  font-weight: 300;
  z-index: 1;
  transition: 0.5s;
}

.form-input {
  position: absolute;
  width: 100%;
  height: 100%;
  outline: none;
  padding: 10px 12px 10px 16px;
  border-radius: 2px;
  background-color: inherit;
  border: 1px solid var(--neutral-variant-shade-4, #5b5975);
  transition: 0.1s ease;
  z-index: 0;
}

.form-input:focus {
  border: 2px solid var(--color-primary-200);
}

.form-input:focus ~ label {
  color: var(--color-primary-200);
  font-weight: 500;
}

.form-input-error {
  border: 2px solid #cc0000;
}

.form-label-error {
  color: #cc0000;
  font-weight: 500;
}

.form-birth-section {
  display: flex;
  padding: 10px 0px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 12px;
  align-self: stretch;
}

.form-birth {
  font-weight: 500;
  color: var(--color-neutral-variant-800);
}

.form-policy {
  align-self: stretch;
  color: var(--color-grey-600);
}

.form-birth-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  width: 100%;
  gap: 12px;
}

.form-birth-container div {
  width: 100%;
  height: 64px;
  position: relative;
}

.form-birth-container div select {
  width: 100%;
  height: 100%;
  font-weight: 400;
  padding-left: 16px;
  padding-top: 30px;
  padding-bottom: 10px;
  background-color: inherit;
  border: 1px solid var(--neutral-variant-shade-4, #5b5975);
}

.form-month {
  grid-column: span 5;
  width: 100%;
}

.form-day {
  grid-column: span 2;
}

.form-year {
  grid-column: span 3;
}

.form-select-label {
  position: absolute;
  top: 10px;
  left: 20px;
  font-size: 12px;
  font-weight: 300;
}

.form-button {
  display: flex;
  height: 36px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  outline: none;
  align-self: stretch;
  font-weight: 600;
  border-radius: 10px;
  background-color: var(--color-primary-500);
  color: var(--color-grey-50);
  cursor: pointer;
  outline: none;
  border: none;
  transition: 0.4s ease;
}

.form-switch {
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s ease;
}

.form-switch:hover {
  color: var(--color-primary-200);
}

.form-button:hover {
  background-color: var(--color-primary-700);
  color: var(--color-primary-100);
}

.invalid-login {
  color: red;
  margin-block: 0px;
  font-weight: 600;
}

.post-wrapper {
  display: flex;
  width: 732px;
  padding: 12px 10px;
  flex-direction: column;
  align-items: flex-start;
  gap: 18px;
  border-radius: 12px;
  background-color: var(--color-grey-50);
  box-shadow: var(--x16dp-penumbra);
}

.post-input-container {
  display: flex;
  align-items: center;
  gap: 18px;
  align-self: stretch;
}

.post-input {
  display: flex;
  padding: 8px 16px;
  align-items: center;
  gap: 10px;
  flex: 1 0 0;
  border-radius: 16px;
  background: var(--color-grey-200);
}

hr {
  align-self: stretch;
  background-color: var(--color-grey-400);
  height: 1px;
  border-style: none;
}

.create-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.create-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.create-image span {
  color: var(--color-grey-600);
  font-weight: 400;
  cursor: pointer;
}

.create-image img {
  cursor: pointer;
}
.create-post-button {
  display: flex;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 18px;
  background: var(--color-primary-300);
  color: white;
  cursor: pointer;
}

/* Profile Styles */

.profile-feed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.dashboard {
  height: 250px;
  width: 1308px;
  background-color: var(--color-grey-400);
  position: relative;
}

.dashboard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-dashboard-container {
  height: 187px;
  width: 1308px;
  background-color: var(--color-grey-50);
  position: relative;
  padding-left: 18px;
  padding-bottom: 6px;
  display: flex;
  padding: 10px 24px 10px 18px;
  justify-content: space-between;
  align-items: center;
}

.profile-name {
  font-weight: 600;
}

.profile-image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background-color: var(--color-primary-300);
  position: absolute;
  top: -37.5%;
  left: 18px;
  z-index: 1;
}

.profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.profile-info-container {
  display: flex;
  padding: 10px 24px 10px 0px;
  justify-content: space-between;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  margin-top: 75px;
}

.profile-location {
  display: flex;
  padding: 10px 10px 10px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.profile-buttons {
  display: flex;
  align-items: flex-start;
  gap: 18px;
  margin-top: 75px;
}

.profile-add {
  display: flex;
  width: 155px;
  height: 36px;
  padding: 10px 16px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background-color: var(--color-primary-300);
  font-weight: 600;
  color: var(--color-grey-50);
  cursor: pointer;
}

.profile-edit {
  display: flex;
  height: 36px;
  padding: 0px 16px 0px 12px;
  justify-content: center;
  align-items: center;
  gap: 7px;
  border-radius: 10px;
  background: var(--color-grey-300);
  font-weight: 600;
  cursor: pointer;
}

.profile-edit-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: var(--color-grey-200);
  left: 37.5%;
  top: 75%;
  justify-content: center;
  border-radius: 10px;
  padding: 32px 16px 24px 16px;
  gap: 8px;
  box-shadow: var(--x16dp-umbra);
  font-weight: 500;
  z-index: 1;
}

.profile-edit-container div {
  display: flex;
  flex-direction: column;
}

.profile-edit-container div input[type="text"] {
  height: 32px;
  font-weight: 500;
  font-size: 18px;
}

.prfoile-edit-container button {
  font-size: 18px;
}
